<%- include('../partials/head.ejs') %>
<title>Cookingsite - Recipe</title>

<header>
  <h1><a href="/recipes">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="/profile">My profile</a></li>
      <li><a href="/">Log out</a></li>
    </ul>
  </nav>
</header>

<main>
  <h1><%= data.Name %></h1>
  <p><%= data.Description %></p>
  <p><%= data.Instructions %></p>

</main>

<%- include('../partials/foot.ejs') %>
