<%- include('../partials/head.ejs') %>
<title>Cookingsite - <%= data.Name %></title>

<header>
  <h1><a href="/recipes">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="/profile">My profile</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </nav>
</header>

<main id="recipe">

  <h1><%= data.Name %></h1>
  <footer><%= data.Description %></footer>
  <h3>Ingredients</h3>
  <p><%= data.Ingredients %></p>
  <h3>Instructions</h3>
  <p><%= data.Instructions %></p>

</main>

<%- include('../partials/foot.ejs') %>
