<%- include('../partials/head.ejs') %>

<header>
  <h1><a href="/recipes">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="/profile">My profile</a></li>
      <li><a href="/">Log out</a></li>
    </ul>
  </nav>
</header>

<main>
  
  <% for (var index = 0; index < data.length; index++) { %>
  <h2><a href="/<%= data[index].id %>"><%= data[index].Name %></a></h2>
  <p><%= data[index].Description %></p>
  <% } %>

</main>

<%- include('../partials/foot.ejs') %>
